body{
    height: 100%;
    display: flex;
    flex-wrap: warp;
    flex-direction: row;
    margin: 0;
}
#header-menu{
    justify-content: flex-end;
    height: 60px;
    background: #1c87c9;
    color: rgb(10, 10, 10);
}
footer {
    padding: 0 10px;
    background: #9fd3c7;
}
a{
    color: rgb(127, 182, 255);
}
section {
    flex: 0.8;
    padding: 15px;
}
aside{
    flex: 0.2;
    padding: 15px;
    border-left: 3px solid #666;
}
ul li {
    display: inline-block;
    padding: 0 10px;
    list-style: none;
}
@media only screen and (min-width: 701px) {
    section,aside,header {
        font-size: 20px;
    }
}
@media only screen and (max-width: 700px) {
    section,header {
        font-size: 15px;
    }
    aside{
        display: none;
    }
}