#b{
    height: 100%;
    display:  inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0;
    width: 100%;

}
#header-menu{
    align-items: center;
    justify-content: flex-end;
    height: 80px;
    width: 100%;
    background: #76c5f7;
    color: rgb(10, 10, 10);
}
#icon-top{
    padding: 10px;
    padding-left: 15px;
    display: inline-flex;
    width: auto;
    height: 60px;
}
#menu{
    padding-left: 20px;
    display: inline-flex;
}

footer {
    
    text-align: center;
    height: 35px;
    padding: 0 10px;
    background: #76c5f7;
}
a{
    color: rgb(73, 129, 219);
}
section {
    flex: 0.8;
    padding: 15px;
}
aside{
    flex: 0.2;
    padding: 15px;
    border-left: 3px solid #666;
    
}
ul li {
    display: inline-block;
    padding: 0 10px;
    list-style: none;
}

@media only screen and (min-width: 701px) {
    section,aside,header {
        font-size: 20px;
    }
}
@media only screen and (max-width: 700px) {
    section,header {
        font-size: 15px;
    }

}